@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 fw-bold text-danger mt-5">Welcome To Notes Application</h1>
    <p class="display-5 mt-4">The MyNote Web application provides you the features to create your own Notes for the
        future
        reference. You can
        even do a CRUD operation in this NotesApp.</p>
</div>
